# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore build directories
/bin/
/target/
/out/

# Ignore IDE settings
.idea/
.vscode/
*.iml

# Ignore OS-specific files
Thumbs.db
.DS_Store